body {
    background-image: linear-gradient(red, yellow);
    margin-top: 50px;
    background-repeat: no-repeat; 
    font-family: 'Lato';
    height: 100vh;
}

.item {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0 0 1em #ccc;
    transition: all .2s ease-in-out;
}

.item:hover {
    box-shadow: 0 0 1em #aaa;
}

.item.completed {
    text-decoration: line-through;
}

.toggles {
    color: black;
}

.name {
    padding-top: 3px;
}

.remove {
    padding-left: 0;
}

button:focus {
    border: 1px solid #333;
}

.container-fluid:has(.remove:hover) {
	background-color: #dc3545;	
}

.container-fluid {
	transition: 0.3s;
}

.completed {
	color: white;
	opacity: .65;
	background-color: #28a745;
}
